#app {
  height: 100%;
}

body {
  ::-webkit-scrollbar {
    width: 5px;
  }
}

#container {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  font-family: sans-serif;
}

.ant-layout {
  height: 100%;

  &-content {
    background: white;
  }
}

.cursor-pointer {
  cursor: pointer;
}
